<button (click)="cambiarModo('Comprar') " mat-raised-button color="primary">Comprar</button>
<button (click)="cambiarModo('Consultar') " mat-raised-button color="accent">Consultar</button>

<p>Modo actual: {{modoElegido}}</p>

<div *ngIf="modoElegido === 'Comprar' ">
    <p>Carrito: {{librosComprados.length}} unidades</p>
    <p>Precio total: {{precioTotal}}€</p>
</div>

<app-libro *ngFor="let libroIterado of listadoLibros" [libro]="libroIterado" [configuracionExpositor]="modoElegido"
    (comprado)="gestionaCompra($event)" (sumar)="actualizaStock(libroIterado, 1)"
    (restar)="actualizaStock(libroIterado, -1)" (borrado)="borrarLibro(libroIterado)"></app-libro>

<ng-container *ngIf="librosComprados.length > 0">
    <h2>Carrito de la compra</h2>
    <br>

    <app-libro *ngFor="let libroIterado of librosComprados" [libro]="libroIterado"></app-libro>
</ng-container>