<button (click)="cambiarModo('Comprar') " mat-raised-button color="primary">Comprar</button>
<button (click)="cambiarModo('Consultar') " mat-raised-button color="accent">Consultar</button>

<p>Modo actual: {{modoElegido}}</p>

<div *ngIf="modoElegido === 'Comprar' ">
    <p>Carrito: 0 unidades</p>
    <p>Precio total: 0€</p>
</div>

<mat-card *ngFor="let libro of listadoLibros">
    <mat-card-header>
        <mat-card-title>Título: {{libro.titulo | uppercase}}</mat-card-title>
        <mat-card-subtitle *ngIf="libro.autor;else saludo">Autor: {{libro.autor}}</mat-card-subtitle>
     
        <mat-card-subtitle [ngStyle]="{color: libro.precio < 10 ? 'green' : 'red'}">Precio: {{libro.precio}} €</mat-card-subtitle>
        <mat-card-subtitle>Cantidad Pag.: {{libro.cantidadPaginas}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
        <button mat-raised-button color="accent">Añadir</button>
        <button mat-raised-button color="warn">Restar</button>
    </mat-card-actions>
</mat-card>

<ng-template #saludo>
    <mat-card-subtitle>Autor : Anonimo</mat-card-subtitle>
</ng-template>